/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --bg-image-header: url(../images/cover-image-light.png);
  --bg-color-header: #fff1f7;
  --color-button: rgba(53, 52, 48, 1);
  --color-button-hover: rgba(53, 52, 48, 0.4);
  --accent-color: rgba(255, 141, 203, 1);
  --accent-title-color: rgba(255, 194, 230, 1);
  --bg-header-text: rgba(255, 141, 203, 1);
  --header-text: rgba(53, 52, 48, 1);
  --section-title: rgba(53, 52, 48, 1);
  --bg-card: rgba(255, 141, 203, 1);
  --color-card: rgba(53, 52, 48, 1);
  --text-section: rgba(53, 52, 48, 1);
  --theme-color: rgba(53, 52, 48, 1);
  --border-decorate: rgba(53, 52, 48, 1);
  --link-color: rgba(255, 194, 230, 1);
  --rec-display: none;
}

.theme-light .page {
  /* Вам также нужно будет написать ряд подобных селекторов */
}

@media (prefers-color-scheme:light) {
  :root {
    --bg-image-header: url(../images/cover-image-light.png);
    --color-button: rgba(53, 52, 48, 1);
    --color-button-hover: rgba(53, 52, 48, 1);
    --accent-color: rgba(255, 141, 203, 1);
    --accent-title-color: rgba(255, 194, 230, 1);
    --bg-header-text: rgba(255, 141, 203, 1);
    --header-text: rgba(53, 52, 48, 1);
    --section-title: rgba(53, 52, 48, 1);
    --bg-card: rgba(255, 141, 203, 1);
    --color-card: rgba(53, 52, 48, 1);
    --text-section: rgba(53, 52, 48, 1);
    --theme-color: rgba(53, 52, 48, 1);
    --border-decorate: rgba(255, 194, 230, 1);
    --link-color: rgba(255, 194, 230, 1);
    --rec-display: none;
  }
}
